.sign-in {
  width: 100%;
  max-width: 400px; 
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .sign-in {
    width: 100%;

    .buttons {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }
}