.checkout-page {
  width: 55%;
  margin: 50px auto 0;
}

@media (max-width: 768px) {
  .checkout-page {
    width: 100%;

    .checkout-header {
      font-size: 12px;
    }

    .total {
      font-size: 28px;
    }
  }
}