.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 15px;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 12px;
      cursor: pointer;
      font-size: 15px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    padding: 0 10px;

    .options {
      width: auto;
      gap: 10px;

      .option {
        padding: 5px;
        font-size: 14px;
      }
    }
  }
}